# bin directories

bin/

# obj directories

obj/

# extra stuff

extras/

# suo file

*.suo

# team foundation sever

$tf/
BuildProcessTemplates

# Databases

*.mdf
*.ldf

# Web (This is currently tracked in another repo)

RedditBet.Web/
