<div class="bet-contract-wrapper block-centered  margin-100">
  <div class="paper  parchment shadow">
    <h1 class="text-center text-capitalize">BETTOR'S CONTRACT</h1>
    <hr class="fancy-ruler parchment" />
    <div>
      <p>I, <span class="border-bottom">{{ challenger1Name }}</span>, hereby challenge <input class="border-bottom" style="min-width:160px;" type="text" ng-model="challenger2Name" placeholder="Username of challenger" /> to the following:</p>
      <textarea ng-elastic placeholder="Enter the terms of the bet..."></textarea>
    </div>
    <div>
      <p>Date of the event: <input class="border-bottom" style="min-width:160px;" type="text" ng-model="eventDate" placeholder="MM/DD/YYYY" /></p>
      <p>Cutoff date for bet fulfillment: <input class="border-bottom" style="min-width:160px;" type="text" ng-model="cutoffDate" placeholder="MM/DD/YYYY" /></p>
      <br />

      <p class="text-right" style="margin-right: 100px;">Signed,</p>
      <p class="text-right">Todo</p>
      <p class="text-right">Todo</p>
    </div>
  </div>
</div>