<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Base AppSettings -->
    <add key="baseUrl" value="http://www.reddit.com/" />
    <!--<add key="subReddit" value="cfb" />-->
    <add key="subReddit" value="sandboxtest" />
    <add key="urlLimit" value="30" />
    
    <!-- API -->
    <!-- Bot tasks -->
    <add key="apiBaseUrl" value="http://localhost:52857/api/" />
    <add key="api_Tasks" value="tasks/" />
    <add key="api_Tasks_Incomplete" value="tasks/incomplete/" />
    <add key="api_Tasks_MarkComplete" value="tasks/markcomplete" />
    <!-- Logging -->
    <add key="api_Log" value="log/" />
    
    <!-- Reddit -->
    <add key="redditUsername" value="cfb_betbot" />
    <add key="redditPassword" value="development" />
    
    <!-- Reddit API -->
    <add key="redditApi_getUser" value="api/me.json" />
    <add key="redditApi_login" value="api/login" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <!-- Task Data Dictionary Keys -->
    <add key="targetUrl" value="target_url" />
    <add key="userName" value="username" />

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>