<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>

    <!-- Base AppSettings -->
    
    <add key="baseUrl" value="http://www.reddit.com/" />
    <add key="subReddit" value="cfb" />
            
    <!-- API -->

    <add key="apiBaseUrl" value="http://localhost:52857/api/" />
    <add key="api_Tasks" value="tasks/" />
    <add key="api_Tasks_Incomplete" value="tasks/incomplete/" />
    
    <!-- Reddit -->

    <add key="redditUsername" value="cfb_betbot" />
    <add key="redditPassword" value="development" />
    
    <!-- Reddit API -->

    <add key="redditApi_getUser" value="api/me.json" />
    <add key="redditApi_login" value="api/login" />
    
  </appSettings>
</configuration>